button {
 padding: 10px;
 
}

button:hover {
 border: 1px solid yellow;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://media.giphy.com/media/26DNfEyKEiWj4oYyQ/giphy.gif);
}
h2{
    color: white;
}