@import url('https://fonts.googleapis.com/css?family=Advent+Pro|Kalam|Permanent+Marker|Trade+Winds&display=swap');
.body01{
    background-image: url("https://media.giphy.com/media/l3978y5HqiEtqupiM/giphy.gif");
    background-color: black; 
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.body02{
    background-image: url("https://media2.giphy.com/media/MaThe6p8WAKbf9NDDM/giphy.webp?cid=790b76112987ae1974f9fcbb72cd29779b88a15133797212&rid=giphy.webp");
    background-color: black; 
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.click{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    padding: 30px;
}

img:hover{
    height: 100px;
    width: 100px;
}



.main{
    display: grid;
    height: 80%;
    padding: 70px;
    

}
.left{
    background-image: url("https://media.giphy.com/media/l3978y5HqiEtqupiM/giphy.gif");
    grid-row:1;
    grid-column:1/2;
    color: white;
    text-align: center;
    justify-content: center;
    font-size: large;
    font-weight: bold;
    font-family: 'Trade Winds',monospace;

}    
.right{
    background-image: url(https://media3.giphy.com/media/MXQnyEQwBJ6eTj90L5/giphy.webp?cid=790b761171bac0df1c38d9ca98dbdeb46035411d2ffb6fed&rid=giphy.webp);
    grid-row:1;
    grid-column:4/5;
    color: white;
    text-align: center;
    justify-content: center;
    font-size: large;
    font-weight: bold;
    font-family: 'Trade Winds',monospace;

}
.middle{
    margin: 3px;
    grid-row:1;
    grid-column:2/4;
    color: white;
    text-align: center;
    justify-content: center;
    font-size: large;
    font-weight: bold;
    font-family: 'Permanent Marker', 'Trade Winds',monospace;

    background-image: url(https://media0.giphy.com/media/vitWWq2hZaPT2/200.webp?cid=790b761123523f05864033ac496bae8b2103f24eb4eea145&rid=200.webp);
}

.left2{
    background-image: url("https://media0.giphy.com/media/vitWWq2hZaPT2/200.webp?cid=790b761123523f05864033ac496bae8b2103f24eb4eea145&rid=200.webp");
    grid-row:1;
    grid-column:1/2;
    color: white;
    text-align: center;
    justify-content: center;
    font-size: large;
    font-weight: bold;
    font-family: 'Trade Winds',monospace;
}    
.right2{
    background-image: url(https://media.giphy.com/media/l3978y5HqiEtqupiM/giphy.gif);
    grid-row:1;
    grid-column:4/5;
    color: white;
    text-align: center;
    justify-content: center;
    font-size: large;
    font-weight: bold;
    font-family: 'Trade Winds',monospace;
}
.middle2{
    margin: 3px;
    grid-row:1;
    grid-column:2/4;
    color: white;
    text-align: center;
    justify-content: center;
    font-size: large;
    font-weight: bold;
    font-family: 'Permanent Marker', 'Trade Winds',monospace;
    background-image: url(https://media3.giphy.com/media/MXQnyEQwBJ6eTj90L5/giphy.webp?cid=790b761171bac0df1c38d9ca98dbdeb46035411d2ffb6fed&rid=giphy.webp);
}


#link{
    background-color: violet;
    color: white;
}

